
.tablaM{
  height: auto;
  padding: 30px;
  background-color: rebeccapurple;
}

.grid-container {
  display: grid;
  box-sizing: content-box;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #2196F3;
  width: 80%;
  margin: auto;
  padding: 10px;
  gap: 70px;
  @media (max-width: 800px){
    grid-template-columns: 1fr 1fr 2fr;      
}   
   

  ;
}
.grid-item {
  display:absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: auto;   
}   
